{% extends "base.html" %}
{% block titulo %} Inicio {% endblock %}
{% block contenido %}
{% load static %}

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <br><br>
                <h4 class="display-4">Sobre nosotros</h4>
                <p class="lead">PlanNet es una herramienta creada para facilitar la elaboración de planes de negocio

                </p>
            </div>
            <div class="col-sm-1">
            </div>

        </div>
        


{% endblock %}