{% extends "base.html" %}
{% block titulo %} Mi grupo {% endblock %}
{% block contenido %}
{% load static %}
{% load bootstrap4 %}

{%if user.is_authenticated %}

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="card  border border-info2 rounded">
            <div class="card-body text-center">
                <h3 class="card-title">Crea un grupo</h3>
                <form enctype="multipart/form-data" method="post">
                    <!--Verifica si es una petición válida-->
                {% csrf_token %}
                <!--Aquí cargamos el formulario-->
                {% bootstrap_form formulario %}
                
                
                {% buttons %}
                <button type="submit" class="btn btn-colores">
                {{boton}}
            </button>
                {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
</div>

{% else %}
  <p>Por favor, inicia sesión para consultar los grupos de un perfil</p>
{% endif %}

{% endblock %}