{% extends "base.html" %}
{% block titulo %} Contacto {% endblock %}
{% block contenido %}
{% load static %}
<div class="row"></div>
<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Contacto</h3>
          <p>En caso de dudas, comentarios o problemas relacionados con el uso de Simulador para la unidad de aprendizaje de Formulación y Evaluación de Proyectos Informáticos de la ESCOM
            , comunícate con nosotros, nos comunicaremos contigo a través de correo electrónico</p>
          <form enctype="multipart/form-data" method="post">
                <br>
                <div class="form-group">
                    <label for="correo" class="form-label">Correo electrónico:</label>
                    <input type="email" class="form-control" id="correo" aria-describedby="emailHelp" placeholder="Correo electrónico">
                </div>
                <br>
                <div class="form-group">
                    <label for="mensaje">Mensaje</label>
                    <textarea class="form-control" id="mensaje" rows="4" placeholder="Envíanos tu mensaje"></textarea>
                </div>
                
                <br>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
    </div>
  </div>

{% endblock %}