{% extends "base.html" %}
{% block titulo %} Inicio {% endblock %}
{% block contenido %}
{% load static %}
<!--div class="p-5 bg-light"-->
    <!--div class="container"-->
    {%if user.is_authenticated %}

    {% if user.tipo == '2' %}  <!--Del profesor-->
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-10">

            <div class="card">
              <h6 class="card.title">Participantes</h6>
              <table class="table">
                <thead>
                  <tr>
                    <th> Foto </th>
                    <th>Nombre de usuario</th>
                    <th>Grupo</th>
                  </tr>
                </thead>
                <tbody>
                  {% for usi in usuarios %}
                  <tr>
                    <td>
                      <img src="{{ usi.foto.url }}" class="rounded-circle" height="80" width="80">
                    </td>
                    <td>
                      {{ usi.nombre }} {{ usi.apellido }}
                    </td>
                    <td>
                      {{ usi.id_grupo }}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

              </div>
          </div>
          <div class="col-sm-1">
              <br><br><br>
          </div>
        </div>

        {% else %}<!--Del estudiante-->

        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-3">
              <br><br><br>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Bienvenido, alumno</h5>
                  <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                      <img src="{{ user.foto.url }}" class="rounded-circle" height="80" width="80">
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                  <p class="card-text">Nombre: {{ user.nombre }} {{ user.apellido }}</p>
                  <p class="card-text">Correo: {{ user.correo }} </p>
                  <p class="card-text">Número de boleta: {{ user.num }} </p>
                  <a href="{% url 'userChangePassword' %}" class="btn btn-light" style="border-radius: 20px;background-color: #6481CE; border-color: #6481CE;">
                    Cambiar contraseña
                  </a>
                </div>
              </div>
          </div>
          <div class="col-sm-7">
              

            <div class="row">

              <div class="container p-3 my-3  text-white" style="background-color: #6481ce">
                  <h6>Fase 1: Identificación de una problemática orientada a una oportunidad de negocio </h6>
                  <br>
                  <!--PRIMER TEMA-->
                          <div class="row text-dark" style="background-color: #f8f8ff">
                              <div class="col-sm-10">
                                  <h8>Definición del negocio</h8>
                              </div>
                              <div class="col-sm-2">
                                  <a href="{% url 'estadoformula' 1 %}" class="btn btn-light" style="border-radius: 20px;background-color: #a2a2a2; border-color: #a2a2a2;">
                                      Ver
                                    </a>
                              </div>
                          </div>
                  <!--FIN TEMA-->
                  <!--SEGUNDO TEMA-->
                  <div class="row text-dark" style="background-color: #f8f8ff">
                    <div class="col-sm-10">
                        <h8>Misión, visión y objetivos</h8>
                    </div>
                    <div class="col-sm-2">
                        <a href="{% url 'estadoformula' 2 %}" class="btn btn-light" style="border-radius: 20px;background-color: #a2a2a2; border-color: #a2a2a2;">
                            Ver
                          </a>
                    </div>
                </div>
                  <!--FIN TEMA-->
                  <!--TERCER TEMA-->
                  <div class="row text-dark" style="background-color: #f8f8ff">
                    <div class="col-sm-10">
                        <h8>Características del producto</h8>
                    </div>
                    <div class="col-sm-2">
                        <a href="{% url 'estado' 3 %}" class="btn btn-light" style="border-radius: 20px;background-color: #a2a2a2; border-color: #a2a2a2;">
                            Ver
                          </a>
                    </div>
                  </div>
                  <!--FIN TEMA-->
                  <!--CUARTO TEMA-->
                  <div class="row text-dark" style="background-color: #f8f8ff">
                    <div class="col-sm-10">
                        <h8>Presupuesto de mano de obra</h8>
                    </div>
                    <div class="col-sm-2">
                        <a href="{% url 'estado' 4 %}" class="btn btn-light" style="border-radius: 20px;background-color: #a2a2a2; border-color: #a2a2a2;">
                            Ver
                          </a>
                    </div>
                  </div>
                  <!--FIN TEMA-->
              </div>
              <div class="container p-3 my-3 text-white" style="background-color: #8195d6">
                  <h7>Fase 2: Aplicación de la metodología Design Thinking para generar un proyecto informático</h7>
                  <!--PRIMER TEMA-->
                  <div class="row text-dark" style="background-color: #f8f8ff">
                    <div class="col-sm-10">
                        <h8>Inversión necesaria</h8>
                    </div>
                    <div class="col-sm-2">
                        <a href="{% url 'estado' 5 %}" class="btn btn-light" style="border-radius: 20px;background-color: #a2a2a2; border-color: #a2a2a2;">
                            Ver
                          </a>
                    </div>
                  </div>
                  <!--FIN TEMA-->
                  <!--SEGUNDO TEMA-->
                  <div class="row text-dark" style="background-color: #f8f8ff">
                    <div class="col-sm-10">
                        <h8>Financiamiento</h8>
                    </div>
                    <div class="col-sm-2">
                        <a href="{% url 'estado' 6 %}" class="btn btn-light" style="border-radius: 20px;background-color: #a2a2a2; border-color: #a2a2a2;">
                            Ver
                          </a>
                    </div>
                  </div>
                  <!--FIN TEMA-->
                </div>
                  <div class="container p-3 my-3 text-white" style="background-color: #9ca9df">
                  <h7>Fase 3: Formulación del proyecto informático con base en las etapas y ciclo de vida del proyecto</h7>
                  <!--PRIMER TEMA-->
                  <div class="row text-dark" style="background-color: #f8f8ff">
                    <div class="col-sm-10">
                        <h8>Análisis de requerimientos</h8>
                    </div>
                    <div class="col-sm-2">
                        <a href="{% url 'estado' 7 %}" class="btn btn-light" style="border-radius: 20px;background-color: #a2a2a2; border-color: #a2a2a2;">
                            Ver
                          </a>
                    </div>
                  </div>
                  <!--FIN TEMA-->  
                  <!--SEGUNDO TEMA-->
                  <div class="row text-dark" style="background-color: #f8f8ff">
                    <div class="col-sm-10">
                        <h8>Diseño de la arquitectura de software</h8>
                    </div>
                    <div class="col-sm-2">
                        <a href="{% url 'estadoformula' 8 %}" class="btn btn-light" style="border-radius: 20px;background-color: #a2a2a2; border-color: #a2a2a2;">
                            Ver
                          </a>
                    </div>
                  </div>
                  <!--FIN TEMA-->
                  <!--TERCER TEMA-->
                  <div class="row text-dark" style="background-color: #f8f8ff">
                    <div class="col-sm-10">
                        <h8>Actividades para la programación</h8>
                    </div>
                    <div class="col-sm-2">
                        <a href="{% url 'estado' 9 %}" class="btn btn-light" style="border-radius: 20px;background-color: #a2a2a2; border-color: #a2a2a2;">
                            Ver
                          </a>
                    </div>
                  </div>
                  <!--FIN TEMA-->
                  <!--CUARTO TEMA-->
                  <div class="row text-dark" style="background-color: #f8f8ff">
                    <div class="col-sm-10">
                        <h8>Actividades para las pruebas e implementación</h8>
                    </div>
                    <div class="col-sm-2">
                        <a href="{% url 'estadoformula' 10 %}" class="btn btn-light" style="border-radius: 20px;background-color: #a2a2a2; border-color: #a2a2a2;">
                            Ver
                          </a>
                    </div>
                  </div>
                  <!--FIN TEMA-->
                  <!--QUINTO TEMA-->
                  <div class="row text-dark" style="background-color: #f8f8ff">
                    <div class="col-sm-10">
                        <h8>Actividades para el despliegue o mantenimiento</h8>
                    </div>
                    <div class="col-sm-2">
                        <a href="{% url 'estadoformula' 11 %}" class="btn btn-light" style="border-radius: 20px;background-color: #a2a2a2; border-color: #a2a2a2;">
                            Ver
                          </a>
                    </div>
                  </div>
                  <!--FIN TEMA-->
                  <!--SEXTO TEMA-->
                  <div class="row text-dark" style="background-color: #f8f8ff">
                    <div class="col-sm-10">
                        <h8>Documentación</h8>
                    </div>
                    <div class="col-sm-2">
                        <a href="{% url 'estadoformula' 12 %}" class="btn btn-light" style="border-radius: 20px;background-color: #a2a2a2; border-color: #a2a2a2;">
                            Ver
                          </a>
                    </div>
                  </div>
                  <!--FIN TEMA-->
                </div>
              <div class="container p-3 my-3 text-white" style="background-color: #b5bee7">
                  <h7>Fase 4: Cálculo de flujo neto de efectivo con base en los presupuestos</h7>
                  <!--PRIMER TEMA-->
                  <div class="row text-dark" style="background-color: #f8f8ff">
                    <div class="col-sm-10">
                        <h8>Presupuesto de inversión</h8>
                    </div>
                    <div class="col-sm-2">
                        <a href="{% url 'estado' 13 %}" class="btn btn-light" style="border-radius: 20px;background-color: #a2a2a2; border-color: #a2a2a2;">
                            Ver
                          </a>
                    </div>
                  </div>
                  <!--FIN TEMA-->
                  <!--SEGUNDO TEMA-->
                  <div class="row text-dark" style="background-color: #f8f8ff">
                    <div class="col-sm-10">
                        <h8>Presupuesto de egresos</h8>
                    </div>
                    <div class="col-sm-2">
                        <a href="{% url 'estado' 14 %}" class="btn btn-light" style="border-radius: 20px;background-color: #a2a2a2; border-color: #a2a2a2;">
                            Ver
                          </a>
                    </div>
                  </div>
                  <!--FIN TEMA-->
                  <!--TERCER TEMA-->
                  <div class="row text-dark" style="background-color: #f8f8ff">
                    <div class="col-sm-10">
                        <h8>Presupuesto de ingresos</h8>
                    </div>
                    <div class="col-sm-2">
                        <a href="{% url 'estado' 15 %}" class="btn btn-light" style="border-radius: 20px;background-color: #a2a2a2; border-color: #a2a2a2;">
                            Ver
                          </a>
                    </div>
                  </div>
                  <!--FIN TEMA-->
              </div>
              <div class="container p-3 my-3 text-white" style="background-color: #bcc2e1">
                  <h7>Fase 5: Evaluación de la factibilidad del proyecto</h7>
                  <!--PRIMER TEMA-->
                  <div class="row text-dark" style="background-color: #f8f8ff">
                    <div class="col-sm-10">
                        <h8>Cálculo de flujos netos de efectivo</h8>
                    </div>
                    <div class="col-sm-2">
                        <a href="#" class="btn btn-light" style="border-radius: 20px;background-color: #a2a2a2; border-color: #a2a2a2;">
                            Ver
                          </a>
                    </div>
                  </div>
                  <!--FIN TEMA-->
              </div>

            </div>
          </div>



          </div>
        </div>


        {% endif %}<!--De los permisos de alumno y profesor-->

      {% else %} <!--De la autenitcacion-->
        <div class="row">
            
            <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <br><br><br>
                    <h7 class="display-4">Bienvenido al Simulador para la Formulación y Evaluación 
                      de Proyectos Informáticos </h7>
                    
                </div>
                <div class="col-sm-6">
                    <img class="img-fluid" src="{% static "images/bground.png" %}" alt="Fondo">
                    <br><br><br>
                </div>
        </div>
        {% endif %}

              <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
     
    </section>
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Creadoras
            </h6>
            <p>
              El Simulador para la Formulación y Evaluación 
              de Proyectos Informáticos
              es un sistema creado por Arantxa Ximena Cervantes Patlán y Alejandra García Díaz.
            </p>
          </div>
          <div class="col-md-5 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Páginas de interés
            </h6>
            <p>
              <a href="{% url 'nosotros' %}" class="text-reset">Nosotros</a>
            </p>
            <p>
              <a href="{% url 'politicas' %}" class="text-reset">Políticas de Privacidad</a>
            </p>
            <p>
              <a href="{% url 'terminos' %}" class="text-reset">Términos y Condiciones</a>
            </p>
          </div>
          
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Contacto
            </h6>
            <p>
            <p><i class="fas fa-phone me-3"></i> 56 1017 6383</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
  </footer>
    <!--/div-->
<!--/div-->

{% endblock %}