{% extends "base.html" %}
{% block titulo %} Inicio {% endblock %}
{% block contenido %}
{% load static %}

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <br><br>
                <h4 class="display-6">Sobre nosotros</h4><br>
                <p class="lead">El Simulador para la unidad de aprendizaje de Formulación y Evaluación de Proyectos Informáticos de la ESCOM
                     es una herramienta dedicada al en apoyo a la integración de un portafolio de evidencias que contenga la documentación para 
                     la gestión y viabilidad de un proyecto informático a fin de facilitar a los estudiantes la toma de decisiones sobre el mismo.
                </p>
                
            </div>
            <div class="col-sm-2">
            </div>

        </div>
        


{% endblock %}