{% extends "base.html" %}
{% block titulo %} Políticas de privacidad {% endblock %}
{% block contenido %}
{% load static %}
<br><br>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 text-justify">
        <h4 class="display-6">Políticas de privacidad</h4><br>
        <p>PlanNet, en aplicación de la normativa vigente en materia de protección de datos de carácter personal, informa que los datos personales que se recogen a través de los formularios del Sitio web PlanNet, se incluyen en los ficheros automatizados específicos de usuarios de los servicios de creación de perfil, integración a grupos y creación de Estados Financieros.</p>

<p>La recogida y tratamiento automatizado de los datos de carácter personal tiene como finalidad el desempeño de tareas de información, formación, asesoramiento y otras actividades propias de PlanNet</p>

<p>Estos datos únicamente serán cedidos a aquellas entidades que sean necesarias con el único objetivo de dar
cumplimiento a la finalidad anteriormente expuesta.</p>


<p>El usuario podrá en cualquier momento ejercitar los derechos de acceso, oposición, rectificación y cancelación. El ejercicio de estos derechos puede realizarlo el propio usuario a través de email a sistemaplannet@gmail.com</p><br>



<h6>Finalidad del tratamiento de los datos personales:</h6>

<p>¿Con qué finalidad trataremos tus datos personales?</p>
<p>En PlanNet, trataremos tus datos personales recabados a través de su Sitio Web, con las siguientes finalidades:</p>


<p>Envío de información solicitada a través de los formularios dispuestos en la creación de perfil, integración a grupos y creación de Estados Financieros.</p>


<p>Te recordamos que puedes oponerte al envío de comunicaciones comerciales por cualquier vía y en cualquier momento, remitiendo un correo electrónico a la dirección indicada anteriormente.</p>

<p>Los campos de dichos registros son de cumplimentación obligatoria, siendo imposible realizar las finalidades expresadas si no se aportan esos datos.</p>

<h6>¿Por cuánto tiempo se conservan los datos personales recabados?</h6>

<p>Los datos personales proporcionados se conservarán mientras se mantenga la relación comercial o no solicites su
supresión y durante el plazo por el cuál pudieran derivarse responsabilidades legales por los servicios prestados.</p>
    </div>
</div>
<br><br>

{% endblock %}