{% extends "base_usuarios.html" %}
{% block titulo %} Inicio {% endblock %}
{% block contenido %}
{% load static %}
<!--div class="p-5 bg-light"-->
    <!--div class="container"-->
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <br><br><br>
                <h5 class="display-4">Bienvenido al sitio de PlanNet</h5>
                <p class="lead">Gestiona tu plan de negocio con Plannet</p>
                <p class="lead">
                    <a class="btn btn-light btn-lg" href="" role="button">Ver mi plan</a>
                </p>
            </div>
            <div class="col-sm-8">
                <img class="img-fluid" src="{% static "images/background.png" %}" alt="Fondo">
                <br><br><br>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="card  border border-info2 rounded">
                    <div class="card-body">
                        <h5 class="card-title text-center">Estados financieros y Proyecciones</h5>
                        <img class="img-fluid" src="{% static "images/gestionee.png" %}" alt="Fondo">
                        <p class="text-muted">Administra la información de los estudiantes y emprendedores registrados,
                        así como sus profesores o coaches y su avance en el Plan de Negocios</p>
                        <p class="lead">
                            <a class="btn btn-light btn-lg" href="" role="button">Ir</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Generación de gráficas</h5>
                        <img class="img-fluid" src="{% static "images/gestioncp.png" %}" alt="Fondo">
                        <p class="text-muted">Administra la información de los coaches y profesores registrados,
                        dalos de alta en PlanNet y visualiza los grupos que cada uno tiene asignado</p>
                        <p class="lead">
                            <a class="btn btn-light btn-lg" href="" role="button">Ir</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Simulador de escenarios</h5>
                        <img class="img-fluid" src="{% static "images/gestioncp.png" %}" alt="Fondo">
                        <p class="text-muted">Administra la información de los coaches y profesores registrados,
                        dalos de alta en PlanNet y visualiza los grupos que cada uno tiene asignado</p>
                        <p class="lead">
                            <a class="btn btn-light btn-lg" href="" role="button">Ir</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Generador de predicciones</h5>
                        <img class="img-fluid" src="{% static "images/gestioncp.png" %}" alt="Fondo">
                        <p class="text-muted">Administra la información de los coaches y profesores registrados,
                        dalos de alta en PlanNet y visualiza los grupos que cada uno tiene asignado</p>
                        <p class="lead">
                            <a class="btn btn-light btn-lg" href="" role="button">Ir</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    <!--/div-->
<!--/div-->

{% endblock %}