{% extends "base.html" %}

{% block titulo %} Generador de predicciones {% endblock %}

{% block contenido %}
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="card mb-1">
            <div class="container pt-2 pb-auto mb-1 me-3 border rounded">
                <h3 class="text-center">Misión, visión y objetivos </h3>
                <p>
                    La misión declara el propósito de un negocio, o en otras palabras, lo que hará y para quién lo hará. La misión establece el perfil de la organización y refleja la identidad y sentido del negocio, 
                    así como refleja la dirección que toma a largo plazo.
                     Por mencionar un ejemplo, Bimbo enuncia su misión de la siguiente forma:
                </p>
                <p class="font-italic">
                    “Elaborar y comercializar productos alimenticios, desarrollando el valor de nuestras marcas. 
                    Comprometiéndonos a ser una empresa: Altamente productiva y plenamente humana. Innovadora, 
                    competitiva y fuertemente orientada a la satisfacción de nuestros clientes y consumidores.”
                </p>
                <p>
                    De la cual destacamos que:
                </p>
                <ul>
                    <li>Inicia con un verbo en infinitivo (Elaborar y comercializar)</li>
                    <li>Menciona el tipo de producto que está vendiendo (productos alimenticios)</li>
                    <li>Indica cómo realiza esta comercialización y elaboración.</li>
                    <li>Muestra las características propias del negocio.</li>
                </ul>
            </div>
        </div>
    </div>
</div>    
{% endblock %}