{% extends "base.html" %}

{% block titulo %} Generador de predicciones {% endblock %}

{% block contenido %}
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="card mb-1">
            <div class="container pt-2 pb-auto mb-1 me-3 border rounded">
                <h3 class="text-center">Descripción del negocio</h3>
                <p>
                    Para este tema se definen las bases del proyecto a emprender: definición del negocio, misión y objetivos, eventos importantes en la historia de la empresa o proyecto, alianzas estratégicas,
                     fortalezas, oportunidades, debilidades y amenazas del negocio, contexto e incertidumbre del negocio y riesgos.
                </p>
                <p>Definir el negocio</p>
                   <p></p> Para definir el negocio es importante contemplar los siguientes puntos:
                </p>
                <ul>
                    <li>Las necesidades de los consumidores: ¿qué voy a ofrecer que resulte de interés y utilidad a mis posibles clientes? Esto también es conocido como nuestra oferta dentro del mercado.</li>
                    <li>Los grupos de consumidores: ¿A quién voy a venderle el producto o servicio? Esta información ayudará a conocer la demanda del producto.</li>
                </ul>
                <p>
                    Las tecnologías que se utilizarán y las funciones que realizarán. Lo anterior también implicará la ventaja competitiva de nuestros productos ante otros.
                </p>
            </div>
        </div>
    </div>
</div>               
{% endblock %}