{% extends "base.html" %}
{% block titulo %} Estados financieros y proyecciones {% endblock %}
{% block contenido %}
{% load static %}
{% load bootstrap4 %}

{%if user.is_authenticated %}
<div class="row"><br/><br/></div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="row">
            <div class="card-deck">
                {% for estado in estados %}
                <div class="col-sm-2">
                    <div class="border border-info2 rounded shadow p-3 mb-5 bg-body h-20 d-inline-block">
                        <div class="card-body text-center">
                            <h6 class="card-title">{{ estado.nombre_estado }}</h6>
                            <br>
                            <a class="btn btn-colores" id="edita" href ="{% url 'estado' estado.id %}">Ver</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
{% else %}
  <p>Por favor, inicia sesión para consultar los Estados Financieros y proyecciones</p>
{% endif %}

{% endblock %}