{% extends "base.html" %}
{% block titulo %} {{title}} {% endblock %}
{% block contenido %}
{% load static %}
{% load bootstrap4 %}
{% load render_table from django_tables2 %}

{%if user.is_authenticated %}
<div class="row"><br /><br /></div>
<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">{{ subtitulo }}</h5>
            <form enctype="multipart/form-data" method="post" class="form">
              <!--Verifica si es una petición válida-->
              {% csrf_token %}
              <!--Aquí cargamos el formulario-->
              {% for field in form %}
                  {% bootstrap_field field %}
              {% endfor %}
              {% buttons %}
              <button type="submit" class="btn btn-light" style="border-radius: 20px;background-color: #90dec5; border-color: #90dec5;">
                {{boton}}
              </button>
            {% endbuttons %}
            </form>
          </div>
        </div>
      </div>
    
  </div><br><br>

{% else %}
  <p>Por favor, inicia sesión para consultar los Estados Financieros y proyecciones</p>
{% endif %}

{% endblock %}

<!-- Block javascript -->
{% block javascript %}
{% if js %}
        <script src="{% static js|safe %}"></script>
        {% else %}
        <br>
{% endif %}
{% endblock %}