{% load static %} {% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- Íconos y CSS-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="static/css/estilos.css"
      media="screen"
    />
    <!--link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}"-->
    <title>{% block titulo %} {% endblock %}</title>
    {% bootstrap_javascript jquery=True %}
  </head>
  <body>
    {% if not user.is_authenticated %}
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #6481CE">
      <div class="container-fluid">
        <a class="navbar-brand" aria-current="page" href="{% url 'inicio' %}"
          >Simulador para la Formulación y Evaluación de Proyectos Informáticos 
          </a>
        <button
          type="button"
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#menu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="menu" class="collapse navbar-collapse">
          <ul class="navbar-nav ms-2">
            <li class="nav-item">
              <a href="{% url 'inicio_sesion' %}" class="nav-link"
                >Inicio de sesión</a
              >
            </li>
            <li class="nav-item">
              <a href="{% url 'registro' %}" class="nav-link">Registro</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'productos' %}" class="nav-link">Productos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% bootstrap_messages %}
    <div class="row"><br /><br /></div>
    {% else %}
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #6481CE">
      <div class="container-fluid">
        <a class="navbar-brand" aria-current="page" href="{% url 'inicio' %}"
          >Simulador para la Formulación y Evaluación de Proyectos Informáticos </a
        >
        <button
          type="button"
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#menu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="menu" class="collapse navbar-collapse">
          <ul class="navbar-nav ms-2">
            
            
            {% if user.tipo == '2' %}
            <li class="nav-item">
              <a href="{% url 'editar_perfil' %}" class="nav-link">Perfil</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'consulta_grupo' %}" class="nav-link">Mis grupos</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Calificaciones</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a href="{% url 'consulta_grupo' %}" class="nav-link">Mi grupo</a>
            </li>
            {% endif %}

            <li class="nav-item">
              <a href="{% url 'cerrar_sesion' %}" class="nav-link"
                >Cerrar sesión</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% bootstrap_messages %}
    <!--div class="row"><br /><br /></div-->

    {% endif %} {% block contenido %} {% endblock %}

    <!-- Block javascript -->
    {% block javascript %}

    {% endblock %}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
  </body>
</html>
